* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-size: cover;
}

#page {
    width: 1280px;
    height: 3279px;
    /*padding: 88px 80px 48px 80px;*/
    padding: 88px 80px 48px 80px;
    margin: auto;
    background-color: aqua;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 660px;
    border-radius: 28px;
}

main div img {
    height: 660px;
    object-fit: cover; /* Ajusta a proporção da imagem para caber no container disponível pra ela sem distorcer */
    margin: 4px 0 24px;
    margin-bottom: 24px;
}

main div.card_travel img {
    height: 350px;
    margin: 0 0 20px;
}

#container {
    width: 1120px;
    height: 3054px;
    /* gap: 40px; */
}

/*1 title_page */
#title_page {
    width: auto;
    height: 79px;
    margin-bottom: 40px;
    background-color: slategrey;
}

.headline {
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    text-transform: uppercase; /* a fonte fica com todas as letras em maiúsculo */
    margin-bottom: 8px;
}

#title_h1 {
    line-height: 49px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
}

/*1 description_image */
#description_image {
    height: 729px;
    margin-bottom: 40px;
    background-color: gold;
}

.description {
    text-align: center;
    height: 66px;
    margin: 0;
}

#description_image .description {
    height: 37px;
}

/*1 content_list */
#content_list {
    height: 2020px;
    background-color: plum;
}

.divider {
    height: 1px;
    background-color: #d9d9d9;
    margin: 40px 0;
}

#content_list .divider {
    margin: 0 0;
}

/* 2 title_list */
#title_list {
    height: 164px;
    margin: 64px 0;
}

#title {
    height: 68px;
}

#title_h2 {
    line-height: 44px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;
}

#paragraph {
    height: 88px;
}

/* 2 list */
#list {
    height: 1728px;
}

.card_travel {
    height: 522px;
}

.card_travel + .card_travel{
    margin-top: 48px;
}

footer {
    position: relative;
    height: 24px;
    text-align: center;
    font-size: 18px;
}