#app {
    border: 1px solid blue;
    /* width: 1280px; */
    /* height: 768px; */
    display: grid;
    /* grid-template-columns: 25rem 51.25rem; */
    /* grid-template-columns: 31.25% 68.75%; */
    grid-template-columns: 31.25% 64.0625%;
    
    height: 100vh;
    overflow: hidden;
    padding: 1.25rem;
    gap: 1.25rem;
    /* place-content: space-evenly; */
    place-content: center;
    align-content: start;
    
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
}

aside {
    border: 1px solid red;
    background-image: url(../assets/Background.png);
    background-size: cover;
    /* background-repeat: no-repeat; */

    border-radius: 12px;

    margin-left: auto;
    max-width: 25rem;
    height: 45.5rem;
    padding: 2rem;

    header {
        border: 1px solid red;
        max-width: 21rem;

        h1 {
            font: var(--text-logo);
            color: var(--pink);
        }

        h2 {
            font: var(--text-heading);
            margin-block: 4px;
        }

        img {
            width: 45.851px;
            height: 3rem;
            margin-bottom: 1rem;
        }

        .frame {
            width: 6.25rem;
            height: 6.25rem;
        }
    }
}

main {
    border: 1px solid green;
    border-radius: 12px;
    background-color: var(--shape-body);
    overflow: auto;
    max-width: 51.25rem;
    /* display: flex; */
    /* justify-content: start; */
    padding: 5rem;
    /* margin-inline: 1.5rem; */

    #invite {
        border: 1px solid green;
        /* max-width: 35rem; */
    }
}

h1 {
    font-size: 28px;
}