.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-direction {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-8 {
    gap: .5rem;
}

.gap-16 {
    gap: 1rem;
}

.gap-24 {
    gap: 1.5rem;
}

.gap-32 {
    gap: 2rem;
}

.desktop-only {
    display: none;
}

/* padding */
.p-base {
    padding: var(--p-base);
}

@media (width >= 80rem) {
    .desktop-only {
        display: initial;
    }

    .flex-direction {
        flex-direction: row;
    }
}