#intro {
    background-image: url(../assets/images/Background_Intro.png);
    padding: 120px 163px 57px 163px;
    gap: 94px;
    /* justify-content: flex-end; */
    /* align-self: stretch; */

    &>img {
        width: 32px;
        height: 32px;
    }

    #info {
        justify-items: center;
        header {
            margin-bottom: 80px;
            width: 680px;
            gap: 56px;

            #avatar {
                img:nth-child(1) {
                    width: 96px;
                    height: 96px;
                    margin: 8px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: solid 5px var(--red);
                }
            }

            #text {
                gap: 20px;
                align-self: stretch;
                text-align: center;

                #title {
                    gap: 8px;
                }
                span {
                    color: var(--red);
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 754px;
        }

        .tag {
            display: flex;
            align-items: center;
            background-color: var(--gray-300);
            border-radius: 16px;
            gap: 8px;
            padding-inline: 16px;
            padding-block: 8px;
        }
    }
}