#primary {
    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    div:nth-child(2) {
        margin-inline: auto;
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    font: var(--text-span);
    color: var(--text-color-secondary);
    border: solid 1px var(--stroke-color);
    border-inline: none;
    
    & ul {
        width: 860px;
    }
    overflow-x: auto;

    /* Hide scrollbar for IE and Edge | Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (width >= 80rem) {
    #secondary {
        & ul {
            width: auto;
            justify-content: space-between;
        }
    }
}