section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: .75rem 1.5rem;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            height: 16px;
            width: 16px;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRight-hover.svg);
        }
    }
}

aside {
    grid-area: aside;
    
    #more {
        margin-top: 2rem;
        
        h3 {
            margin-top: 8px;
        }
        
        img {
            width: 72px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}