#sobre_evento {
    .form-content {
        grid-template-areas:
        "AAA AAA"
        "BBB CCC"
        "DDD EEE"
        "FFF FFF";
        
        :nth-child(1) {
            grid-area: AAA;
        }

        :nth-child(2) {
            grid-area: BBB;
        }

        :nth-child(3) {
            grid-area: CCC;
        }

        :nth-child(4) {
            grid-area: DDD;
        }

        :nth-child(5) {
            grid-area: EEE;
        }

        :nth-child(6) {
            grid-area: FFF;
        }
    }
}

input, textarea {
    appearance: none;
    width: 100%;
    height: 3rem;
    padding-inline: 1rem;
    border-radius: .5rem;
    /* border: 2px solid transparent; */
    /* font: var(--text); */
    
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--text-body);
    &::placeholder {
        color: var(--input-placeholder);
    }
}

textarea {
    height: 100%;
}

label {
    font: var(--body-sm);
}

legend {
    font: var(--heading-sm);
}

input[type="date"] {
    &::-webkit-calendar-picker-indicator {
        /* opacity: 0; */
        cursor: pointer;
        /* color: var(--text-body); */
    }
}