/* header {
    flex-direction: column;
} */

#profile {
    /* display: flex;
    gap: 32px;
    align-items: center; */
    font: var(--text-sm);
    /* flex-direction: column; */
}

#profile-info h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    /* margin-bottom: 8px; */
}

#profile-info {
    max-width: 296px;
}

#profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

#info ul {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 16px; */
    width: 280px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (width >= 80em) {
    header {
        justify-content: space-between;
        align-items: center;
    }

    #profile {
        gap: 32px;
        align-items: center;
    }
    
    #profile img {
        width: 176px;
        height: 176px;
    }

    #profile-info {
        max-width: 384px;
    }
}