/* main {
    display: flex;
    flex-wrap: wrap;
    padding-block: 24px;
    gap: 24px;
} */

main img {
    width: 328px;
    height: 328px;
    object-fit: cover;
}

@media (width >= 80em) {
    main img {
        width: 286px;
        height: 286px;
    }
}