@import url(fields/index.css);

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: inherit;
}

.title_field {
    display: flex;
    align-items: center;
    gap: .75rem;
}

legend {
    font: var(--heading-sm);
}

label {
    font: var(--body-sm);
}