.input-item, .form-item {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    input, textarea, .radio-button {
        /* appearance: none; */
        height: 3rem;
        padding-inline: 1rem;
        border-radius: .5rem;
        /* outline: 0; */

        border: 1px solid var(--input-stroke);
        background-color: var(--input-base);
        color: var(--text-body);
    }

    textarea {
        height: 100%;
        padding: 1rem;
    }
}

input, textarea {
    &::placeholder {
        font: var(--body-md);
        color: var(--input-placeholder);
    }
    
    &:focus {
        border-color: var(--brand-light);
    }
}

/* input:focus,
textarea:focus,
input[type="date"]:focus-within {
    border-color: var(--brand-light);
} */