.form-item {
    .radio-button {
        display: flex;
        
        padding: .25rem;
        gap: .25rem;
        
        .radio-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: .25rem;
            gap: .5rem;
            border-radius: .5rem;
            flex: 1 0 0;
            background-color: var(--input-base);
            
            cursor: pointer;

            &:hover, &:focus-within, &:has(:checked) {
                background-color: var(--shape-hover);
                label {
                    color: var(--text-heading);
                }
            }
            & img {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.radio-inner {
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }
}

.radio-inner:nth-child(1) {
    &:hover, &:focus-within, &:has(:checked) {
        img {
            content: url(../../assets/icons/building-blue.svg);
        }
    }
}

.radio-inner:nth-child(2) {
    &:hover, &:focus-within, &:has(:checked) {
        img {
            content: url(../../assets/icons/video-blue.svg);
        }
    }
}