.form-item {
    .radio-button {
        display: flex;
        /* align-items: center; */
        /* align-self: stretch; */
        
        padding: .25rem;
        gap: .25rem;
        
        .radio-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: .25rem;
            gap: .5rem;
            border-radius: .5rem;
            flex: 1 0 0;
            background-color: var(--shape-button);
        }

        :hover {
            background-color: var(--shape-hover);
        }
    }
}

.radio-button {
    * {
        cursor: pointer;
    }
}

.radio-inner {
    position: relative;
    & input {
        all: unset;
        position: absolute;
        /* z-index: -1; */
    }
}

/* .radio-inner { */
    /* border: 1px solid var(red); */
    /* border-radius: .5rem; */
    /* display: grid;
    justify-items: center;
    align-items: center; */
    /* gap: .5rem; */

    /* padding: 2rem .5rem .5rem; */

    /* position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: -1;
    } */

    /* .radio-image {
        background-image: url(../../assets/icons/radio-default.svg);

        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: .5rem;
        left: .5rem;
    } */

    /* &:hover, &:focus-within {
        border: 1px solid var(--stroke-highlight);

        & .radio-image {
            background-image: url(../../assets/icons/radio-hover.svg);
        }
    } */

    /* &:has(:checked) {
        border: 2px solid var(--stroke-highlight);

        & .radio-image {
            background-image: url(../../assets/icons/radio-checked.svg);
        }
    } */
/* } */