.theme-items {
    .theme-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr)); */
        gap: .5rem;
        
        .theme-inner {
            display: flex;
            width: 8.375rem;
            /* width: 7.73rem; */
            /* width: 7rem; */
            padding: .25rem .25rem .5rem .25rem;
            gap: .5rem;

            flex-direction: column;
            align-items: center;

            background-color: var(--shape-button);
            border: 1px solid var(--input-stroke);
            border-radius: .5rem;
            font: var(--text-heading);

            &:hover {
                background-color: var(--shape-hover);
            }

            &:focus-within, &:has(:checked) {
                outline: 2px solid var(--brand-light);
            }

            img {
                border-radius: .25rem;
                height: 4rem;
                /* align-self: stretch; */
            }
        }
    }
}

.theme-inner {
    cursor: pointer;
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }
}