#sobre_evento {
    .form-content {
        /* display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 1rem;
        align-self: stretch;
        flex-wrap: wrap; */
        
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "AAA AAA"
        "BBB CCC"
        "DDD EEE"
        "FFF FFF";
        
        :nth-child(1) {
            grid-area: AAA;
        }

        :nth-child(2) {
            grid-area: BBB;
        }

        :nth-child(3) {
            grid-area: CCC;
        }

        :nth-child(4) {
            grid-area: DDD;
        }

        :nth-child(5) {
            grid-area: EEE;
        }

        :nth-child(6) {
            grid-area: FFF;
        }
    }
}