* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* CORES */
    --background-primary: #F4F5FB;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;

    --border-primary: #374151;
    --border-hover: #374151;
    
    --border-primary: #D1D5DB;
    --border-secondary: #B9C2D0;

    /* TIPOGRAFIA */
    --title: 700 1.5rem/2rem "Inter";
    --label: 600 1rem/1.25rem "Inter";
    --paragraph: 400 1rem/1.25rem "Inter";
    --link: 400 0.875rem/1rem "Inter";
}

body {
    background-color: var(--background-primary);
    font: var(--paragraph);
    color: var(--content-secondary);
}

h1 {
    font: var(--title);
    color: var(--content-primary);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    /* border: solid #A52C6B; */
}

ul[role="list"] {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

    &[alt="logo"] {
        margin-bottom: 4rem;
    }
}

header {
    margin-bottom: 3rem;
    span {
        color: var(--color-brand);
    }

    h1 {
        margin-top: 1rem;
    }
}