div:hover {
    filter: unset;
}

/* TRANSFORM */
div {
    width: 50px;
    height: 50px;
    border: red solid;
    transform: translate(100px, 200px) rotate(40deg) scale(2);
}

/* MATH */
/* div {
    border: red solid;
    width: calc(50% + 10rem);
    height: min(100%, 90vh, calc(50% + 10rem), 50px, 1rem);
    height: max(10px, min(100px, 200px));
    font-size: clamp(1vw, 10vw, 5vw);
} */

/* FILTER */
/* div {
    width: 50px;
    height: 50px;
    border: red solid;
    background-color: aqua;
    
    filter: brightness(1);
    filter: contrast(0.5);
    filter: saturate(0.5);
    filter: grayscale();
    filter: sepia();

    filter: drop-shadow(1rem 1rem 1rem green);
    filter: opacity(0.5);
    filter: blur(2px);
    filter: invert();
    filter: hue-rotate(200deg);
} */

/* COLOR */
/* div {
    width: 50px;
    height: 50px;
    border: rgb(255, 0, 0) solid;
    background-color: hsla(134, 92%, 47%, 0.656);
    background-color: color-mix(
        in hsl,
        rgb(255, 0, 0),
        yellow
    );
} */

/* GRADIENT */
/* div {
    width: 50px;
    height: 50px;
    border: red solid;
    background: linear-gradient(90deg, red, blue);
    background: linear-gradient(to right, red 70%, blue);
    background-image: radial-gradient(red, blue 70%);
} */

/* SHAPE */
/* div {
    width: 50px;
    height: 50px;
    border: red solid;
    background-color:aqua;
    clip-path: circle();
    clip-path: polygon(50% 0%, 35%);
} */

/* Funções que referenciam outros valores */
/* div {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    border: red solid;
    background: url(https://source.unsplash.com/random) no-repeat center/contain;
}

div::before {
    content: attr(data-content);
} */