#intro {
    background-image: url(../assets/images/Background_Intro.png);
    padding: 120px 163px 57px 163px;
    gap: 94px;

    &>img {
        width: 32px;
        height: 32px;
    }

    #info {
        justify-items: center;
        width: 1040px;
        gap: 80px;
        
        header {
            width: 680px;
            gap: 56px;

            #avatar {
                img:nth-child(1) {
                    width: 96px;
                    height: 96px;
                    margin: 8px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: solid 5px var(--red);
                }
            }

            #text {
                gap: 20px;
                align-self: stretch;
                text-align: center;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 754px;
        }

        .tag {
            background-color: var(--gray-300);
            font: var(--text-md);
            display: flex;
            align-items: center;
            border-radius: 16px;
            gap: 8px;
            padding-inline: 16px;
            padding-block: 8px;
        }
    }
}

#projects {
    padding: 72px 120px 144px 120px;
    gap: 56px;
    /* justify-content: center; */
    /* align-self: stretch; */
    
    header {
        width: 1040px;
        /* border: 1px solid; */
    }

    #grid_cards {
        width: 1040px;
        grid-template-columns: auto auto auto;
        gap: 24px;

        .card {
            width: 330px;
            height: 280px;
            padding: 12px;
            gap: 20px;
            flex-shrink: 0;
            background-color: var(--gray-300);
            border-radius: 12px;
            
            &:hover {
                border: 1.5px solid var(--gray-400);                
            }
            
            img {
                border-radius: 8px;
                width: 306px;
                height: 156px;
                flex-shrink: 0;
            }

            .title {
                padding: 4px;
                align-items: start;
            }
        }
    }
}

#services {
    background-color: var(--gray-100);
    padding: 120px;
    padding-top: 88px;
    gap: 56px;

    .grid {
        grid-auto-flow: column;
        .card_srv {
            border-radius: 12px;
            border: 2px solid var(--gray-200);
            padding: 20px;
            gap: 20px;
            width: 280px;
            align-items: start;

            img {
                width: 48px;
                height: 48px;
            }

            .title {
                align-items: start;
            }
        }
    }
}

.contacts {
    background-image: url(../assets/images/Background_Contacts.png);
    padding: 128px 120px 200px;

    header {
        span {
            color: var(--purple)
        }
    }
}